<p style="color:yellowgreen">双向绑定</p>
<p>name:{{user.uname}}</p>
<label>name:
  <input type="text" [(ngModel)]="user.uname" placeholder="name"/>
</label>
<p style="color:yellowgreen">父子通信(父 => 子)</p>
<label>父组件:
  <input type="text" [(ngModel)]="fatherData">
</label><br/>
<app-son-comp [childDataName]='fatherData'></app-son-comp>
<p style="color:yellowgreen">父子通信(子 => 父)</p>
<label>父组件:
  <input type="text" [(ngModel)]="datafromChild">
</label><br/>
<app-son-comp-two (dataUpdate)='getParams($event)'></app-son-comp-two>